{%extends 'base1.html'%}

{% load static %}
	{%block content%}
<body>
 
     


    <section id="contact" class="contact">
   
        
        <div class="container ">
                    <div class="row mt-5 justify-content-center" data-aos="fade-up">
                        <div class="col-lg-10 ">

                            <form action="{% url 'bio' %}" method="POST" role="form" class="php-email-form "> {% csrf_token %}
                                <div class="section-title">
                                 <h2>PERSONAL INFOMATION</h2>
                                </div>
                                {{ bio_form.as_p }}
                                <br/><br/>

                                <div class="row mt-5 justify-content-center form-control">
                                     <div class="text-center"><button type="submit">Save </button></div>
                                     <div class="text-left"><button type="submit">edit </button></div>

                                </div>
                            </form>
                        </div>    
                    </div>

               
           
        </div>
    </section><!-- End Contact Section -->


</body>
{%endblock content%}

