{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg mt-4">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Our <strong>Team</strong></h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
            {% for member in members %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up">
                <div class="member-img">
                  <img src="{{member.image.url}}" class="img-fluid" alt="">
                  <!-- <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt=""> -->
                  <div class="social">
                    <a href="{% static '#' %}"><i class="bi bi-twitter"></i></a>
                    <a href="{% static '#' %}"><i class="bi bi-facebook"></i></a>
                    <a href="{% static '#' %}"><i class="bi bi-instagram"></i></a>
                    <a href="{% static '#' %}"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>{{member.user.first_name}} {{member.user.last_name}}</h4>
                  <span>{{member.role}}</span>                  
                  <span>{{member.phone_number}}</span>
                  <span>{{member.reg_num}}</span>
                </div>
              </div>
            </div>
            {% endfor %}
  
          </div>
  
        </div>
      </section><!-- End Our Team Section -->
{% endblock %}